<div id="index-banner" class="parallax-container" ng-controller="demoCtrl">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>

      <input id="searchtext" class="searchbox center-align" placeholder="¿Qué es lo que buscas?" >
      <div class="row center">

        <a  ng-click="mostrarConsola()" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">OK</a>
      </div>
      <br><br>

    </div>
  </div>

    <div parallax><img ng-src="img/background1.jpg " alt="Unsplashed background img 1" /></div>
</div>
